<!-- source/flats/show.html.erb -->

<!-- Access data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>'); height: 45vh; background-position: center;">
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <div class="header-flat-details">

        <div class="photo-section text-center">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle tailletetepres" %>
          <p><%= flat.name %></p>
        </div>
        <div class="description-section">
          <h1><%= flat.description %></h1>
          <p><%= flat.city_name %></p>
        </div>

      </div>


    </div>

      </div>
    </div>





<!-- <div class="header-flat">
  <div class="row">
  <div class="landlordcard">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle tailletetepres" %>
    <p><%= flat.name %></p>
    <h1><%= flat.description %></h1>
    <p><%= flat.city_name %></p>
  </div>
  <div class="bookingform">
    <form action="#">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form action="#">
          <h1 class="text-center">Book this flat</h1>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="first-name"></label>
                <input type="text" class="form-control" id="first-name" placeholder="Checkin">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="last-name"></label>
                <input type="text" class="form-control" id="last-name" placeholder="Checkout">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="referrer"></label>
            <select id="referrer" class="form-control">
              <option value="">1 guest</option>
              <option value="">2 guests</option>
              <option value="">3 guests</option>
            </select>
          </div>
          <input type="submit" value="Sign up" class="btn btn-primary" style="width: 100%">
        </form>
    </div>
    </div>
  </div> -->


  <div class="container-flat-description">
    <div class="row">
      <div class="flat-description">
        <h2>About this flat</h2>

      </div>
    </div>
  </div>
